*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
}

/* HEADER */
header{
display:flex;
align-items:center;
padding:15px 8%;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
position:sticky;
top:0;
z-index:1000;
}

.logo{
display:flex;
align-items:center;
gap:10px;
font-size:20px;
font-weight:700;
color:#00f2ff;
}

.logo img{height:40px;}

/* HERO */
.hero{
text-align:center;
padding:70px 20px;
}

.hero h1{
font-size:32px;
margin-bottom:10px;
}

/* SECTION */
.section{
padding:60px 8%;
}

.section h2{
text-align:center;
margin-bottom:40px;
}

/* Scroll Animation */
.fade-in{
opacity:0;
transform:translateY(50px);
transition:all 0.8s ease;
}

.fade-in.active{
opacity:1;
transform:translateY(0);
}

/* COURSES */
.courses{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.card-link{
text-decoration:none;
color:white;
}

.card{
background:rgba(255,255,255,0.08);
padding:30px;
border-radius:18px;
text-align:center;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
background:rgba(0,255,255,0.2);
}

/* SLIDER */
.slider-container{
position:relative;
max-width:100%;
overflow:hidden;
border-radius:20px;
box-shadow:0 0 30px rgba(0,0,0,0.4);
}

.slide{
display:none;
}

.slide img{
width:100%;
height:320px;
object-fit:cover;
}

.prev, .next{
cursor:pointer;
position:absolute;
top:50%;
transform:translateY(-50%);
background:rgba(0,0,0,0.5);
color:white;
padding:10px 15px;
border-radius:50%;
font-size:18px;
}

.prev{left:15px;}
.next{right:15px;}

.prev:hover, .next:hover{
background:#00f2ff;
color:black;
}

/* MAP */
.map{
border-radius:20px;
overflow:hidden;
margin-top:20px;
}

/* FOOTER */
footer{
text-align:center;
padding:25px;
background:rgba(0,0,0,0.3);
margin-top:50px;
}
.footer-link{color:#00f7ff;text-decoration:none;font-weight:600;transition:0.3s;}
.footer-link:hover{color:#fff;text-shadow:0 0 8px #00f7ff;}

/* WHATSAPP */
.whatsapp-float{
position:fixed;
bottom:20px;
right:20px;
width:60px;
height:60px;
background:#25D366;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
box-shadow:0 5px 20px rgba(0,0,0,0.4);
z-index:1000;
transition:.3s;
}

.whatsapp-float img{
width:35px;
}

.whatsapp-float:hover{
transform:scale(1.1);
}

@media(max-width:768px){
.slide img{height:200px;}
.section{padding:40px 6%;}
.hero h1{font-size:22px;}
}
